<div>
    <h5 class="is-size-4 has-text-success">Available Sizes</h5>
    <div class="list-item">
        {{#each singleItem.sizes as |size|}}
            <li class="is-size-6 ml-4">{{size.size_name}}</li>
        {{/each}}
    </div>
</div>