<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>DeadXFaces</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header class='display-flex justify-space-between align-center p-2'>
    
    <img src="/images/deadhead logo.jpg" />
    <h1>DeadXFaces</h1>
    <div>
      <ul>
        <li>
          <a href="/">--Home--</a>
        </li>
        {{#if isAdmin}}
        <li>
          <a href="/additem">--Add item--</a>
        </li>
        {{/if}}
        <li>
          {{#if loggedIn}}
          <a href="/" id="logout">--Logout--</a>
          {{else}}
          <a href="../login">--Login--</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </header>

  <div class='flex-column justify-space-around'>
    <main class='container container-fluid mt-5'>
      {{{body}}}
    </main>
  </div>

  <script src="/js/logout.js"></script>

</body>

</html>