<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>DeadXFaces</title>
      <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    swiper-slide img {
      display: block;
      width: 100%;
    }
  </style>
  </head>

  <header>

  </header>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <h1>
          DeadXFaces
        </h1>
      </header>
      <main class='container container-fluid mt-5'>
        <a href="/">--Home--</a>
        <a href="/newitem">--Add item--</a>
        {{{body}}}
      </main>
    </div>
  </body>

</html>