<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>DeadXFaces</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<header class='display-flex justify-space-between align-center p-2'>
  <img src="/images/deadhead logo.jpg" />
  <h1>DeadXFaces</h1>
  <div>
    <ul>
      <li>
        <a href="/">--Home--</a>
      </li>
      {{#if isAdmin}}
      <li>
        <a href="/newitem">--Add item--</a>
      </li>
      {{/if}}
      <li>
        {{#if loggedIn}}
        <a href="/" id="logout">--Logout--</a>
        {{else}}
        <a href="../login">--Login--</a>
        {{/if}}
      </li>
    </ul>
  </div>
</header>

<body>
  <div class='flex-column justify-space-around'>

    <main class='container container-fluid mt-5'>
      <a href="/">--Home--</a>
      <a href="/newitem">--Add item--</a>
      {{{body}}}
    </main>
  </div>
</body>

</html>