<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>DeadXFaces</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/ce7e1cc3b0.js" crossorigin="anonymous"></script>

</head>

<body>
  <header class="header">
    <img src="/images/Rebel-cropped.svg" alt="site logo" style="max-height: 236px">

  </header>

  <nav class="navbar has-shadow has-background-primary-00">
    <div class="navbar-brand">
      <a class="navbar-item">

      </a>
    </div>

    <div class="navbar-menu" id="nav-links">
      <div class="navbar-start is-flex-direction-column">
        <a href="/">
          <i class="fas fa-home fa-sm" style="color: #FAFAFA;"></i>
          <span>Home</span>
        </a>

        {{#if isAdmin}}
        <a href="../additem">
          <i class="fa-regular fa-user fa-sm" style="color: #FAFAFA;"></i>
          <span>Add Item</span>
        </a>
        {{/if}}

        {{#if loggedIn}}
        <a href="/" id="logout">
          <i class="fa-regular fa-user fa-sm" style="color: #FAFAFA;"></i>
          <span>Logout</span>
        </a>
        {{else}}
        <a href="../login">
          <i class="fa-regular fa-user fa-sm" style="color: #FAFAFA;"></i>
          <span>Login</span>
        </a>
        {{/if}}


        </a>
      </div>


      <div class="navbar-end is-flex-direction-column">

        {{!-- social media links --}}
        <a href="https://www.tiktok.com/@deadxfaces">
          <i class="fa-brands fa-tiktok" style="color: #FAFAFA;"></i>
          <span>TikTok</span>
        </a>

        <a href="https://www.instagram.com/deadxfaces?igsh=MjljZnYzd2FvaTl3">
          <i class="fa-brands fa-instagram" style="color: #FAFAFA;"></i>
          <span>Instagram</span>
        </a>
        {{#if loggedIn}}
        <a href="/cart">
          <i class="fa-solid fa-cart-plus fa-flip-horizontal fa-lg" style=" color: #FAFAFA;"></i>
          <span>Cart</span>
        </a>
        {{/if}}

      </div>
    </div>
  </nav>

  <div class='flex-column'>
    <main class='container container-fluid mt-5'
      style="height: 55%; max-height: 55%; overflow-y: auto; overflow-x: hidden;">
      {{{body}}}
    </main>
  </div>

  <footer>
    <p class="mt-6" style="text-align: center;">An MMDR Website</p>
  </footer>

  <script src="/js/logout.js"></script>
</body>

</html>