<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>DeadXFaces</title>
    <link rel="stylesheet" href="/css/style.css">

  </head>

        <header class='display-flex justify-space-between align-center p-2'>
              <img src="/images/deadhead logo.jpg"/>
        <h1>
          DeadXFaces
        </h1>

  </header>

  <body>
    <div class='flex-column justify-space-around'>

      <main class='container container-fluid mt-5'>
        <a href="/">--Home--</a>
        <a href="/newitem">--Add item--</a>
        {{{body}}}
      </main>
    </div>
  </body>

</html>