<h1>Add item:</h1>

<div>
    <form class="newItemForm">
        <label for="type-input">Type of item: </label>
        <div>
            <input type="text" id="type-input">
        </div>

        <label for="design-input">Design Title: </label>
        <div>
            <input type="text" id="design-input">
        </div>

        <label for="color-input">Color: </label>
        <div>
            <input type="text" id="color-input">
        </div>

        <label for="price-input">Price: </label>
        <div>
            <input type="text" id="price-input">
        </div>

        <label for="imgloc-input">Image Location: </label>
        <div>
            <input type="text" id="imgloc-input">
        </div>

        <button type="submit">Add Clothing Item</button>

    </form>
</div>

<script src="/js/additem.js"></script>