<h1>Add item:</h1>

<div>
    <form>
        <label for="type-input">Type of item: </label>
        <input type="text" id="type-input">

        <label for="design-input">Design Title: </label>
        <input type="text" id="design-input">

        <label for="color-input">Color: </label>
        <input type="text" id="color-input">

        <label for="price-input">Price: </label>
        <input type="text" id="price-input">
    </form>
</div>