<h1>Add item:</h1>

{{#if isAdmin}}
<div>
    <form class="newItemForm">
        <label for="type-input">Type of item: </label>
        <div>
            <input type="text" id="type-input">
        </div>

        <label for="design-input">Design Title: </label>
        <div>
            <input type="text" id="design-input">
        </div>

        <label for="color-input">Color: </label>
        <div>
            <input type="text" id="color-input">
        </div>

        <label for="price-input">Price: </label>
        <div>
            <input type="text" id="price-input">
        </div>

        <button type="submit">Add Clothing Item</button>

    </form>
</div>
{{else}}
<p>This page can only be accessed by an Administrator.</p>
{{/if}}

<script src="/js/additem.js"></script>