<h1 class="title is-2">Add item:</h1>

{{#if isAdmin}}
<div class="columns mt-6">
    <div class="column is-one-quarter">
        <img src="/images/Untitled_Artwork.PNG" alt="dxf dollar sign logo" style="width: 100%;">
    </div>
    <div>
        <form class="newItemForm" id="newitem" style="width: 36rem;">
            <label for="type-input">Type of item: </label>
            <div>
                <input type="text" id="type-input" class="input mb-2">
            </div>

            <label for="design-input">Design Title: </label>
            <div>
                <input type="text" id="design-input" class="input mb-2">
            </div>

            <label for="color-input">Color: </label>
            <div>
                <input type="text" id="color-input" class="input mb-2">
            </div>

            <label for="price-input">Price: </label>
            <div>
                <input type="text" id="price-input" class="input mb-2">
            </div>

            <button type="submit" class="button mt-5">Add Clothing Item</button>

        </form>
    </div>
</div>
{{else}}
<p>This page can only be accessed by an Administrator.</p>
{{/if}}

<script src="/js/additem.js"></script>