{{!-- El contenido de esta vista será insertado en el lugar de {{{body}}} en el layout principal --}}
<div class="container">
  <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
    {{#each items}}
    <swiper-slide>
      <a href="/singleItem/{{id}}"><img src="{{image_loc}} " /></a>
      <p>{{designName}}</p>
    </swiper-slide>
    {{/each}}
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</div>