{{!-- HTML for the login view --}}
<div>
    <h3>Login</h3>
</div>
<div style="width: 36rem;">
    <h5>Login to your account:</h5>
    <div>
        <form class="login-form">
            <div>
                <label for="email-login">Email: </label>
                <input type="text" id="email-login" name="username"/>
            </div>
            <div>
                <label for="password-login">Password: </label>
                <input type="password" id="password-login" name="password"/>
            </div>
            <div>
                <button type="submit">Login!</button>
                <a href="/signup"><button type="button">Sign up instead</button></a>
            </div>
        </form>
    </div>
</div>


<script src="/js/login.js"></script>