  <section id="success" class="hidden">

      <h1 class="title is-2">Thank you!</h1> 
      
      <p class="has-text-white text" >Thank you, {{user.name}}! We appreciate your business! A confirmation email will be sent to <span class="has-text-weight-bold">{{user.email}}</span>.</p>
      <br>
      <p class="has-text-white text">If you have any questions, please email <a href="mailto:orders@example.com">orders@deadxfaces.com</a>.
    </p>
  </section>